*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body {
    height: 100%;
    width: 100%;
}
:root{
    //background colors
    --bg-primary-color:#000001 ;
    --fill-color: #FCFF00 ;

    //text colors       
    --text-primary-color:#FCFF00 ;

    //border colors
    --border-primary-color:#1F17EF ;
    --border-block : #362ffd ;

    //border radius
    --border-radius-2px: 2px ;
    --border-radius-4px: 4px ;
    --border-radius-8px: 8px ;
    --border-radius-12px: 12px ;
    --border-radius-16px: 16px ;
    --border-radius-20px: 20px ;

    //spacing variable
    --space-1rem :1rem ;
    --space-2rem :2rem ;
    --space-3rem :3rem ;
    --space-4rem :4rem ;
}
@mixin flex-row($gap:0){
    display: flex;
    gap: $gap;
    justify-content: center;
    align-items: center;
}
@mixin flex-col($gap:0){
    display: flex;
    gap: $gap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: var(--space-2rem);
}
main{
    width: 100%;
    height: 100%;
    padding: var(--space-1rem) ;
    // border: var(--border-radius-12px) solid var(--text-primary-color) ;
    // border-radius: var(--border-radius-16px);
    @include flex-col(var(--space-1rem));

    section#scores{
        width: 100%;
        height: 15%;
        // padding: var(--space-1rem) ;
        @include flex-row() ;
        justify-content: space-between ;

        div.info{
            border: var(--border-radius-4px) solid var(--border-primary-color);
            padding: var(--space-1rem) var(--space-2rem);
            // border-radius: var(--border-radius-16px);

            h3{
                display: inline-block ;
            }
        }
    };

    section#arena{
        width: 100%;
        height: 100%;
        // margin: var(--space-2rem);
        border: var(--border-radius-4px) solid var(--border-primary-color);
        // border-radius: var(--border-radius-8px);
        // @include flex-row();
        // flex-shrink: 0;
        // flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(20px , 1fr));
        grid-template-rows: repeat(auto-fill , minmax(20px , 1fr));
        div{
            // border: var(--border-radius-2px) solid var(--text-primary-color);
            // height: 20px;
            // width: 20px ;
            border: 0.1px solid var(--border-block);
        }
    }
}
.fill{
    background-color: var(--fill-color);
}