* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
@mixin flex-row($gap: 0) {
  display: flex;
  gap: $gap;
  justify-content: center;
  align-items: center;
}
main {
  height: 100vh;
  width: 100%;
  background-color: rgb(22, 21, 21);

  nav {
    height: 70px;
    width: 100%;
    @include flex-row();
    justify-content: space-between;
    color: white;
    padding: 10px;
    position: fixed;
    z-index: 30;
    top: 0;
    background-color: rgb(22, 21, 21);

    h3 {
      font-size: 1.5rem;
    }

    div.search {
      background-color: rgb(38, 37, 37);
      width: 40%;
      // height: 60%;
      padding: 3px;
      border-radius: 20px;
      @include flex-row();
      justify-content: space-between;

      input {
        font-size: 1rem;
        background-color: rgb(22, 21, 21);
        // background-color: rgb(38, 37, 37);
        border-radius: 20px 0 0 20px;
        padding: 8px 12px;
        width: 90%;
        border: none;
      }
      i {
        margin-right: 20px;
      }
    }

    div.aside {
      height: 100%;
      padding-right: 8px;
      // width: 100%;
      @include flex-row(2rem);
      justify-content: space-around;

      div.create {
        @include flex-row(0.8rem);
        padding: 10px;
        border-radius: 20px;
        font-size: 14px;
        background-color: rgb(38, 37, 37);
        //   background-color: rgb(22, 21, 21);
      }
    }
  }

  section {
    height: 100vh;
    width: 100%;
    padding: 20px 0;
    @include flex-row(2rem);
    justify-content: flex-start;
    flex-direction: column;
    color: white;
    margin: 70px 0 ;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    div.container {
      height: 90vh;
      scroll-snap-align: start;
      scroll-snap-stop: always;
      width: 100%;
      max-width: 480px;
      margin: 0 auto;
      border-radius: 10px;
      position: relative;
      // overflow: hidden;

      div.video {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
        // overflow: auto;

        video {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 10px;
        }

        div.bottom {
          height: 100%;
          width: 100%;
          position: absolute;
          bottom: 0%;
          z-index: 10;
          background: linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.59)
          );
        }
      }
      div.text {
        width: 80%;
        position: absolute;
        bottom: 3%;
        left: 0%;
        z-index: 20;
        padding: 10px 18px;
        // background-color: red;
        div.head {
          @include flex-row();
          justify-content: space-around;
          h3 {
            font-size: 1.8rem;
            padding: 8px 0;
          }
          button {
            padding: 0.6rem;
            border-radius: 15px;
            border: none;
          }
        }
        p {
          height: 30px;
          width: 80%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      div.elements {
        position: absolute;
        bottom: 6%;
        right: 5%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        z-index: 20;
        text-align: center;

        div.inner {
          // padding: 5px;
          font-size: 16px;
          font-weight: 700;
          pointer-events: none ;
        }
        
        div.btn {
          pointer-events: none ;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background-color: rgba(128, 128, 128, 0.486);
          font-size: 30px;
          color: white;
          @include flex-row();
          // flex-direction: column;
        }
      }
    }
  }
}
.input:focus {
  outline: none;
}
.search:focus-within {
  border: 2px solid white;
}
section::-webkit-scrollbar {
  display: none;
}
