* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
@mixin flex-row($gap: 0) {
  display: flex;
  gap: $gap;
  justify-content: center;
  align-items: center;
}
main {
  height: 100%;
  width: 100%;
  // background : linear-gradient(to bottom right , rgb(26, 26, 26) , rgb(59, 59, 59)  , rgb(26, 26, 26) ) ;
  background-color: rgb(22, 21, 21);
  
  nav {
      height: 70px;
    width: 100%;
    @include flex-row();
    justify-content: space-between;
    color: white;
    padding: 10px;
    
    h3{
        font-size: 1.5rem;
    }

    div.search {
      background-color: rgb(38, 37, 37);
      width: 40%;
      // height: 60%;
      padding: 3px;
      border-radius: 20px;
      @include flex-row();
      justify-content: space-between;
      
      input {
          font-size: 1rem;
          background-color: rgb(22, 21, 21);
          // background-color: rgb(38, 37, 37);
          border-radius: 20px 0 0 20px ;
          padding: 8px 12px;
          width: 90%;
        border: none;
      }
      i{
        margin-right: 20px;
      }
    }

    div.aside {
      height: 100%;
      padding-right: 8px;
      // width: 100%;
      @include flex-row(2rem);
      justify-content: space-around;
      
      div.create{
          @include flex-row(0.8rem);
          padding: 10px;
          border-radius: 20px;
          font-size: 14px;
      background-color: rgb(38, 37, 37);
        //   background-color: rgb(22, 21, 21);

      }
    }
  }

  section{
    height: 100%;
    width: 100%;
    @include flex-row() ;
    align-items: flex-start;

    div.container{
        height: 90% ;
        width: 30% ;
        background-color: red ;
        border-radius: 10px;
        position: relative;

        div.elements{
            position: absolute;
            bottom: 6%;
            right: 5%;
            display: flex;
            flex-direction: column;
            gap: 1rem ;

            div.btn{
                height: 50px;
                width: 50px;
                border-radius: 50%;
                background-color: rgba(128, 128, 128, 0.486);
                font-size: 30px;
                color: white ;
                @include flex-row();
            }
        }   
    }
  }
}
.input:focus {
  outline: none;
}
.search:focus-within {
  border: 2px solid white;
}
